header {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    padding: 2vh 4vw;
    background-color: hsla(0, 0%, 0%, 0.7);
    figure{
        width: 6vw;
        height: 6vw;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .menu {
        display: flex;
        gap: 5px;
    }
    
}